- 백엔드는 TDD로 구현할 것
- 커밋할땐 커밋 메시지를 한글로 작성해줄 것
- 프론트엔드 UI 구현시에는 실행 코드를 먼저 작성한다. 코어비즈니스 로직 구현 시에만 TDD로 진행 할 것
- 커밋 전에 docs/development-checklist.md에 진행상황을 업데이트 한다.
- 설계 변경시에는 docs/diagram-system-design.md 를 업데이트 한다.
- 작업 진행 후 페이지 커밋 전에 페이지 확인 후 커밋 할 것 페이지에 에러가 있다면 해결 후 커밋 할 것
- 터미널 작업 할 때 무조건 powershell7 사용할 것 그게 아니면 git bash 사용할 것
- 터미널 작업 진행이 안되면 터미널 종료 후 다시 실행 할 것